.balloon-chart {
	width:100%;
	
	
	*, *:before, *:after {
	  box-sizing: border-box;
	}
	
	
	
	.countries {
		height:300px;
	}
	.tags {
		
		@include mq(tablet) {
			.tooltip {
				display: none !important;
			}
		}

		//height: (48px + 10px + 4px) * 5;
		position: relative;
		overflow: visible;
		
		margin:0;
		margin-bottom:30px;

		ul {
			float:left;
			margin: 0;
			padding: 0;
			list-style: none;
			//width: calc(10% - 4px);
			padding: 0 0.5px;
			@include mq(desktop) {
				padding:0 1px;
			}

			li {
				@include fs-textSans(1);
				color: #fff;
				
				width:24px;
				height: 24px;
				margin:2px 0;
				margin-left:calc(50% - 12px);
				border-radius: 5px;
				
				

				span {
					display: none;
					overflow: hidden;
  					text-overflow: ellipsis;
				}
				span.value {
					opacity: 0.5;
				}

				@include mq(tablet) {
					margin:2px 1px;
					border-radius: 5px;
					padding:5px;
					width: 100%;
					height:auto;

					span {
						font-size:11px;
						display: block;
					}
					
				}

				@include mq(desktop) {
					
					span {
						font-size:12px;
						display: block;
					}
					span.value {
						display: block;
					}
				}
			}

			li.Foodandagriculture {
				background-color:$Foodandagriculture;	
				
			}
			li.Manufactures {
				background-color:$Manufactures;	
				
			}
			li.Primarymaterials {
				background-color:$Primarymaterials;	
				
			}
			li.Energy {
				background-color:$Energy;	
				
			}
			li.Other {
				background-color:$Other;	
			}

		}

		
	}

	svg {
		width:100%;
		overflow: hidden;
		.country {
			circle.outer {
				fill:#aa001e;
				stroke:none;
				stroke-width:2;
				fill-opacity:0.7;
			}
			circle.inner {
				fill:#fff;
				stroke:#63717a;
				stroke-width:1.5;
				

				@include mq(desktop) {
					stroke-width:1.5;
					stroke-dasharray: 1.5,2;
				}
			}
			line {
				//stroke-dasharray: 1,1;
				stroke-width:1;
				stroke:#bbb;
				shape-rendering: crispEdges;
			}
			
			text {
				@include fs-textSans(1);
				fill: #767676;
				
				font-size: 11px;
				text-anchor:middle;
				
			}
			text.country-name {
				fill:#000;
				font-weight: 800;
				text-transform: capitalize;

				paint-order: stroke;
				//stroke: #fff;
    			//stroke-width: 8px;
    			stroke-linecap: butt;
    			stroke-linejoin: miter;
			}
			text.value {
				//display: none;
    			paint-order: stroke;
    			//stroke: #fff;
    			//stroke-width: 8px;
    			stroke-linecap: butt;
    			stroke-linejoin: miter;
    
				@include mq(desktop) {
					display: block;
				}
			}

			
		}

		.axes {

			display: block;
			@include mq(desktop) {
				display: block;
			}
			.title{
				text {
					@include fs-textSans(1);
					fill: #767676;
					font-size: 11px;
					text-anchor:end;
				}
			}
		}
		.axis {
			path,line {
				fill:none;
				shape-rendering: crispEdges;
				stroke:#ccc;
				stroke-opacity:1;
			}
			path {
				display: none;
			}

			.tick {
				line {
					display: none;
				}
				line.grid {
					display: block;
					stroke-width:2;
					stroke-dasharray: 2,2;
					stroke-linecap:butt;
				}
				text {
					//display: none;

				}
			}
			.tick.main {
				text {
					display: block;
				}
			}
			.tick.hidden {
				visibility: hidden;
			}
			text {
				@include fs-textSans(1);
				fill: #aa001e;
				font-size: 12px;
			}
			
		}

	}

}