.gv-wrapper {
	
	padding:0 10px;
	margin-top:-20px;
	padding-top:20px;
	position: relative;

	
	
		

	.header {
	    position: relative;
	    overflow: hidden;
	    //border-bottom: 1px solid colour(neutral-1);
	    border-top:none !important;
	    padding-bottom: ($gs-baseline * 2);
	    z-index: 9999;

	    h1 {
			@include fs-headline(6);
			margin-top:0;

			@include mq(tablet) {
				@include fs-headline(8);
				margin-top: 0.2em;
			}

			@include mq(desktop) {
				@include fs-headline(9);
				margin-top: 1em;
			}

			
		}
	}

	.header-date,
	.header-text {
	    color: colour(neutral-2);
	    
	    @include mq(desktop) { //12
	        max-width: gs-span(8)
	    }

	    

	    & > a {
	        font-weight: bold;
	    }

	    @include fs-bodyCopy(2);

	}

	.header-date {
	    @include fs-textSans(1);
	    margin-top: -($gs-baseline / 2);
	    a {
	    	font-weight: bold;
	    }
	}

	.sources {
		@include fs-textSans(1);
		color:colour(neutral-3);
	}

	.section {
	    position: relative;
	    //overflow: hidden;
	    border-top: 1px solid colour(neutral-2);
		
		@include mq(tablet) {	
			margin-bottom:25px;
			padding-bottom:25px;
		}

	    > div {
	    	float:left;
	    }
		

	    
	    &:last-child {
	        border-bottom: 0;
	    }
	    &:first-child {
	        border-bottom: 0;
	    }
		
		.title {
			
			h3 {
				@include fs-header(3);
				color:colour(neutral-2);
			}

			

			// Breakpoints
		    @include mq(tablet) { //9
		       width: gs-span(9) ;
		    }

		    @include mq(desktop) { //12
		        width: gs-span(3) ;
		        padding-left:$gs-gutter;
		    }

		}

		.contents {
			
			h2 {
				@include fs-headline(6);
				font-weight:600;
				margin-top: 5px;
				margin-bottom: 0;
			}
			h3 {
				@include fs-headline(6);
				font-size:22px;
				line-height: 24px;
				font-weight:600;
				margin-top: 5px;
				margin-bottom: 0;
			}
			
			
			.section-intro {
				overflow: hidden;

				.section-text {
					@include mq(tablet) {
						width:calc(100% - 200px);
						float: left;
					}
				}
			}
			.section-text {
				@include fs-textSans(4);
		        color: black;
		        margin:48px 0 30px 0;
		    }
		    .section-legend {
				@include mq(tablet) {
		    		float:left;
		        	width:160px;
		    	}
		    }
		    .section-subtext {
		        color: colour(neutral-2);
		        margin-top:0;
		    }
			
			.chart {
				width:100%;
			}
			

			// Breakpoints
		    @include mq(tablet) { //9
		        width: gs-span(9) + $gs-gutter*2;

		        .chart {
					width: gs-span(8)
				}
				.section-text {
					
			        width: gs-span(6);
			    }
				.section-subtext {
	   				width: gs-span(8);
		        }

		         .section-legend {
		        	width: gs-span(2);
		    	}
		    	.section-intro {
		    		
					.section-subtext {
						float:left;
		   				width: gs-span(8);
			        }

			         
		    	}
		    }

		    @include mq(desktop) { //12
		        width: gs-span(9) + $gs-gutter*2;

		        .section-text {
	   				max-width: gs-span(8);
		        }
		        .section-subtext {
	   				width: gs-span(7);
		        }
		        .section-legend {
		        	width: gs-span(2);
		    	}

		        .chart {
					width: gs-span(9)
				}

				.section-intro {
					.section-text {
						float: left;
		   				max-width: gs-span(9);
			        }
					.section-subtext {
						float:left;
		   				width: gs-span(7);
			        }

			         .section-legend {
			        	float:left;
			        	width: gs-span(2);
			    	}
		    	}
		    }
		}
		.subsection {
			width:100%;
			overflow: hidden;
			margin-bottom:50px;
			border-top:1px solid #ddd;
			
			.sub-intro {

				p {
				    //color: colour(neutral-2);
				    @include fs-bodyCopy(2);

				}
			}
			
			h2 {
				@include fs-header(5);
				//font-weight:600;
				margin-top: 5px;
			}

			

			@include mq(desktop) {
				.sub-intro {
					padding-top:20px;
					float:left;
					width:20%;
				}
				.sub-contents {
					float:left;
					width:80%;
				}	
			}
		}
		.subsection:first-child {
			border-top:none;
		}
	    
	}
	
	.sourcesandcredits {
		@include fs-header(1);
		font-weight: normal;
	    color: #767676;
	    span {
	    	font-weight: normal;
	    }
	}
	
	ul#chart-key {
     
        margin:0;
        padding:0;
        margin-top:10px;
        height: 30px;
        display: block;
    

	    li {
	        @include fs-textSans(1);
	        font-size:11px;
	        color:#767676;
	        float:left;
	        list-style: none;
	        padding-right: 15px;
	        margin-bottom:5px;
	        @include mq(desktop) {
	        	float: none;
	        }
	    }
	}

	.key {
	    width: 10px;
	    height: 10px;
	    margin-right: 3px;
	    border-radius: 2px;
	    display: inline-block;
	    vertical-align: middle;
	    margin-bottom: 2px;

	   
	}

	#key-Foodandagriculture{background-color:$Foodandagriculture;}
	#key-Manufactures{background-color:$Manufactures;}
	#key-Primarymaterials{background-color:$Primarymaterials;}
	#key-Energy{background-color:$Energy;}
	#key-Other{background-color:$Other;}
	
	

}